#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.controls {
  display: flex;
  gap: 10px;
}

.cell {
  display: flex;
  font-size: 28pt;
  color: #fafafa;
  border: 1px solid #fafafa;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

h4 {
  margin-top: 2rem;
}

.history-cycle {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style: none;
  padding: 0;
}

path {
  color: white;
  fill: white;
}

.board {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
